Hybrid/step_function_definition.json
{
  "Comment": "Document Processing Pipeline",
  "StartAt": "Splitter",
  "States": {
    "Splitter": {
      "Type": "Task",
      "Resource": "${SplitterFunctionArn}",
      "Next": "ParseSplitterResult",
      "ResultPath": "$.splitter_result"
    },
    "ParseSplitterResult": {
      "Type": "Pass",
      "Parameters": {
        "parsed_result.$": "States.StringToJson($.splitter_result.body)"
      },
      "ResultPath": "$.parsed_splitter_result",
      "Next": "ProcessPages"
    },
    "ProcessPages": {
      "Type": "Map",
      "ItemsPath": "$.parsed_splitter_result.parsed_result.s3_page_image_uris",
      "MaxConcurrency": 10,
      "Parameters": {
        "run_uuid.$": "$.parsed_splitter_result.parsed_result.run_uuid",
        "s3_page_image_uri.$": "$$.Map.Item.Value",
        "s3_page_text_uri.$": "States.ArrayGetItem($.parsed_splitter_result.parsed_result.s3_page_text_uris, $$.Map.Item.Index)",
        "output_format.$": "$.parsed_splitter_result.parsed_result.output_format",
        "page_number.$": "States.MathAdd($$.Map.Item.Index, 1)",
        "original_base_filename.$": "$.parsed_splitter_result.parsed_result.original_base_filename"
      },
      "Iterator": {
        "StartAt": "PageProcessor",
        "States": {
          "PageProcessor": {
            "Type": "Task",
            "Resource": "${PageProcessorFunctionArn}",
            "End": true,
            "ResultPath": "$.page_result"
          }
        }
      },
      "ResultPath": "$.page_results",
      "Next": "ParsePageResults"
    },
    "ParsePageResults": {
      "Type": "Map",
      "ItemsPath": "$.page_results",
      "MaxConcurrency": 10,
      "Parameters": {
        "parsed_page_result.$": "States.StringToJson($.page_result.body)"
      },
      "ResultPath": "$.parsed_page_results",
      "Next": "Combiner"
    },
    "Combiner": {
      "Type": "Task",
      "Resource": "${CombinerFunctionArn}",
      "Parameters": {
        "run_uuid.$": "$.parsed_splitter_result.parsed_result.run_uuid",
        "s3_page_result_uris.$": "$.parsed_page_results[*].parsed_page_result.s3_result_uri",
        "original_s3_uri.$": "$.parsed_splitter_result.parsed_result.original_s3_uri",
        "original_base_filename.$": "$.parsed_splitter_result.parsed_result.original_base_filename",
        "output_format.$": "$.parsed_splitter_result.parsed_result.output_format"
      },
      "End": true
    }
  }
}





